# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Data
data/input/
data/output/
data/test_pipelines/
data/test_gradient/

# IDEs and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
